/* .card-di {
    background-color: #f3f3f3;
    width: 300px;
    height: 350px;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0);
}

.header {
    background-color: black;
    padding: 25px;
    border-radius: 10px 10px 0 0;
}

.header-te {
    background-color: #9c00d4 ;
    padding: 25px;
    border-radius: 10px 10px 0 0;
}

h4 {
    color: #f3f3f3;
}

h2 {
    color: #f3f3f3;
}

.but {
    background-color: #e3e4e6;
    width: 100px 100px 200px 0;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.but:hover {
    background-color: #e3e4e6;
}

.but-t {
    background-color: #9c00d4;
    width: 100px 100px 200px 0;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.ton {
    background-color: #e3e4e6;
    color: #9c00d4;
    font-weight: bold;
    
}

.ton:hover {
    background-color: #e3e4e6;
} 

.ton-t {
    background-color: #9c00d4;
    color: #f3f3f3;
    font-weight: bold;
}

.ton-t:hover {
    background-color: #9c00d4;
} */
